@import "tailwindcss";
@import "@digitalservicebund/ris-ui/style.css";

@source "../node_modules/@digitalservicebund/ris-ui/dist/**/*.{js,vue,ts}";

@theme static {
  /* Highlight Colors */
  --color-highlight-default-default: #d6f7fe;
  --color-highlight-default-hover: #94e8fe;
  --color-highlight-default-selected: #94e8fe;

  --color-highlight-1-default: #d0f1f5;
  --color-highlight-1-hover: #88d7e3;
  --color-highlight-1-selected: #88d7e3;

  --color-highlight-2-default: #fef4ca;
  --color-highlight-2-hover: #fae17a;
  --color-highlight-2-selected: #fae17a;

  --color-highlight-3-default: #ead9fc;
  --color-highlight-3-hover: #c69cf8;
  --color-highlight-3-selected: #c69cf8;

  --color-highlight-4-default: #ddfdd8;
  --color-highlight-4-hover: #a7f998;
  --color-highlight-4-selected: #a7f998;

  --color-highlight-5-default: #fee8d2;
  --color-highlight-5-hover: #fac08f;
  --color-highlight-5-selected: #fac08f;

  --color-highlight-6-default: #d6f7fe;
  --color-highlight-6-hover: #94e8fe;
  --color-highlight-6-selected: #94e8fe;

  --color-highlight-7-default: #fddddd;
  --color-highlight-7-hover: #faa6a6;
  --color-highlight-7-selected: #faa6a6;

  --color-highlight-8-default: #e0e0fb;
  --color-highlight-8-hover: #adadf3;
  --color-highlight-8-selected: #adadf3;

  --color-highlight-9-default: #d2fbf0;
  --color-highlight-9-hover: #8bf2d6;
  --color-highlight-9-selected: #8bf2d6;

  --color-highlight-10-default: #d8e6f2;
  --color-highlight-10-hover: #9dbbdc;
  --color-highlight-10-selected: #9dbbdc;

  /* Affected Document */
  --color-highlight-affected-document-default: #ffebfe;
  --color-highlight-affected-document-hover: #ffb7fb;
  --color-highlight-affected-document-selected: #ffb7fb;

  /* Quoted Structure */
  --color-highlight-quoted-structure-hover-background: #e5f7ff;
  --color-highlight-quoted-structure-hover-border: #4299f7;
  --color-highlight-quoted-structure-selected-content: #b9e8ff;
  --color-highlight-quoted-structure-selected-border: #004b76;

  /* Element Select */
  --color-element-select-default-border: #004b76;
  --color-element-select-selected-background: #b0effe;
  --color-element-select-selected-border: #000;
  --color-element-select-hover-background: #d6f7fe;
  --color-element-select-hover-border: #004b76;
}

@layer base {
  body:has([data-pc-name="splitter"]) {
    overflow: hidden;
  }

  body {
    background: var(--color-gray-100);
  }

  hr {
    border-top-color: var(--color-gray-400);
    margin: 24px 0;
  }
}
