name: Bump chainguard image

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  bump-chainguard-images:
    runs-on: ubuntu-latest
    steps:
      - name: bump jre image
        uses: digitalservicebund/bump-chainguard-digest@708619d1d99d802a74774554bce2d28c81986a17
        with:
          image_name: jre
          file_path: Dockerfile
          github_token: ${{ secrets.GITHUB_TOKEN }}
