on:
  workflow_call:

jobs:
  test-ldml-extension:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install xmllint
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils -y
      - name: xmllint
        working-directory: ./ldml-extension
        run: |
          xmllint --noout --schema fixtures/ldml1.6_ds_regelungstext.xsd fixtures/SaatG_regelungstext.xml
      - name: Send status to Slack
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: digitalservicebund/notify-on-failure-gha@814d0c4b2ad6a3443e89c991f8657b10126510bf # v1.5.0
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      