name: Smoketest

on:
  workflow_call:

jobs:
  smoketest-staging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Restore node_modules
        uses: actions/cache@v5
        id: restore-node-modules
        with:
          path: ./frontend/node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('frontend/package-lock.json') }}
          fail-on-cache-miss: true
      - name: Get Playwright version
        working-directory: ./frontend
        run: echo "PLAYWRIGHT_VERSION=$(jq -r '.packages["node_modules/@playwright/test"].version' package-lock.json)" >> $GITHUB_ENV
      - name: Restore Playwright browser binaries
        uses: actions/cache@v5
        id: restore-browser-binaries
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
          fail-on-cache-miss: true
      - name: Run smoke tests
        working-directory: ./frontend
        env:
          E2E_SMOKETEST_BASE_URL: ${{ secrets.E2E_SMOKETEST_BASE_URL }}
          E2E_SMOKETEST_USERNAME: ${{ secrets.E2E_SMOKETEST_USERNAME }}
          E2E_SMOKETEST_PASSWORD: ${{ secrets.E2E_SMOKETEST_PASSWORD }}
          TZ: "Europe/Berlin"
        run: |
          echo "Running smoke tests"
          npm run test:smoke
      - name: Upload screenshots and traces of failed tests
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: failed-smoketests
          path: ./frontend/test-results/**/*.png
            ./frontend/test-results/**/trace.zip
      - name: Upload test result blobs reports
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: test-results-blob-e2e-smoketest
          path: ./frontend/blob-report/test-report.zip
          retention-days: 1
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
